body {
    background-color: lightblue; /* Standard Hintergrundfarbe */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Höhe des Viewports */
    margin: 0; /* Kein Margin */
    text-align: center; /* Text zentrieren */
    font-family: Arial, sans-serif; /* Schriftart */
}

h1 {
    font-size: 2rem; /* Schriftgröße */
}

p {
    font-size: 1.5rem; /* Schriftgröße */
}
